{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5 mb-1"> <!-- Añade la clase mb-5 para un margen inferior -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h2 class="card-title text-center">Login</h2>
                    <form id="loginForm" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control form-control-lg" id="username" name="username" required>
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control form-control-lg" id="password" name="password" required>
                        </div>
                        {% if error_message %}
                            <div class="text-danger">{{ error_message }}</div>
                        {% endif %}
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-outline-success btn-lg">Login</button>
                            <a href="{% url 'signup' %}" class="btn btn-outline-warning btn-lg">Sign Up</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
