{% extends 'base.html' %}
{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4">Formulario de Contacto</h1>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_name" class="form-label">Nombre</label>
                                {{ form.name }}
                            </div>
                            <div class="mb-3">
                                <label for="id_email" class="form-label">Correo Electrónico</label>
                                {{ form.email }}
                            </div>
                            <div class="mb-3">
                                <label for="id_message" class="form-label">Mensaje</label>
                                {{ form.message }}
                            </div>
                            <button type="submit" class="btn btn-warning btn-block">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <hr>
{% endblock %}

