{% extends 'base.html' %}
{% load static %}

{% block title %}Éxito{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h1 class="card-title">¡Mensaje enviado con éxito!</h1>
                        <p class="card-text">Gracias por contactarnos. Nos pondremos en contacto contigo pronto.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
